:root {
  /* Primary */
  --Very-dark-blue: hsl(233, 47%, 7%); /*main bg*/
  --Dark-desaturated-blue: hsl(244, 38%, 16%); /*card bg*/
  --Soft-violet: hsl(277, 64%, 61%); /*accent*/

  /* Neutral */
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*main paragraph*/
  --Slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); /*stat heading*/
}

body {
  margin: 0;
  font-size: 15px;
  background-color: var(--Very-dark-blue);
}

main {
  margin: 1rem;

  display: grid;
  place-items: center;
}

.card {
  margin: 5em 1em;
  background-color: var(--Dark-desaturated-blue);
  border-radius: 10px;
  overflow: hidden;
}

.image-container {
  margin: 0;
  padding: 0;
  height: 16em;
  background-color: var(--Soft-violet);
  background-blend-mode: multiply;
}

.image {
  background-color: var(--Soft-violet);
  background-image: url("./images/image-header-mobile.jpg");
  background-size: cover;
  height: 100%;
  opacity: 0.8;
  background-blend-mode: multiply;
}

h1 {
  color: white;
  font-family: "Inter";
  font-size: 1.7rem;
}

span {
  color: var(--Soft-violet);
}

.description {
  margin: 2em;
  text-align: center;
}

.desc {
  margin-bottom: 2.5em;
}

.desc p {
  color: var(--Slightly-transparent-white);
  font-family: "Inter";
  line-height: 1.7;
}

.stats-section {
  font-size: small;
  margin-top: 4em;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.stats {
  color: white;
  font-family: "Inter";
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0;
}

.category {
  color: var(--Slightly-transparent-white-2);
  font-family: "Lexend Deca";
  text-transform: uppercase;
  margin: 0.5em 0em 3em 0em;
}

.attribution {
  color: white;
  font-family: "Inter";
  text-align: center;
  position: relative;
}

.attribution a {
  text-decoration: none;
  color: var(--Soft-violet);
}

@media only screen and (min-width: 768px) {
  main {
    height: 100vh;
  }
  .card {
    display: inline-grid;
    grid-template-columns: 1.1fr 1fr;
    max-width: 75rem;
  }

  .image-container {
    order: 2;
    height: 100%;
  }

  .image {
    background-image: url("./images/image-header-desktop.jpg");
  }

  .description {
    text-align: left;
    margin: 4rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .desc p {
    font-size: large;
  }

  ul {
    display: flex;
    gap: 5rem;
  }

  .category {
    margin: 0.5em 0em 0em 0em;
  }

  .attribution {
    position: absolute;
    bottom: 5rem;
  }
}
